<a href="https://colab.research.google.com/github/yashkumawat03/Python-Fundamentals/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Sets**

Sets are the built in data types in python used to strore collections of unique items. They are unordered,, and they donot allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries and performing mathematical set operations like union, intersection, difference and symmetric difference.

### 1. Initialize a Git repository (if you haven't already)

### 2. Add your files to the staging area

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_set = set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
## Basic Set Operations
## Adding and removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Removing the element from the set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.remove(10)

KeyError: 10

In [ ]:
my_set.discard(11)
## Removing an element from the set if it is the number .
## Unlike remove , the discard doesnot raise any exception..
## when  an element is missing from the set
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
## pop method
removed = my_set.pop()
print(removed)
print(my_set)

1
{2, 4, 5, 6, 7}

In [ ]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [ ]:
## Set membership test
## whether the element is the member of the set
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## Mathematical Operations
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## union
union_set = set1.union(set2)
print(union_set)

## intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

## difference
difference_set = set1.difference(set2)
print(difference_set)

## intersection_update
set1.intersection_update(set2)
print(set1)

## differnece_update
set2.difference_update(set1)
set2

## symmetric_difference
set1.symmetric_difference(set2)

set1.symmetric_difference_update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{4, 5, 6}

{4, 5, 6, 7, 8, 9}

In [ ]:
## (intersection_update)It will find the common elements and update it in the set 1
## perform that operation and update in one of the set itself

## symmetric_difference means from set1 and set 2 which are the common the commen elements are removed
## and remaining the unique elements from both the sets will be combined

In [ ]:
## Set Methods

set1 = {1,2,3}
set2 = {3,4,5}

## issubset
print(set1.issubset(set2))

set1.issuperset(set2)

## Superset is a set that contains all the elemts of the another set
## Example set1 = {1,2,3,4,5} set2 = {3,4,5}

False

False

In [ ]:
lst = [1,2,3,3,2,4,5]
## To Remove the dupplicates from this list we convert it into set

print(set(lst))
list(set(lst))

{1, 2, 3, 4, 5}

[1, 2, 3, 4, 5]

In [ ]:
## Counting unique words in text

text = "In this tutorial we are discussing about sets"
words = text.split()

## Convert the list of words to set to get the unique words

unique_words = set(words)
print(len(unique_words))
print(unique_words)

8
{'discussing', 'tutorial', 'In', 'this', 'about', 'sets', 'are', 'we'}

Assignment Solutions

In [ ]:
lst = [x for x in range(1,21)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
print(lst[0])
print(lst[-1])
print(len(lst) // 2)

1
20
10

LIST ASSIGNMENT
# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

TUPLES ASSIGNMENT
# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.
lst = list(range(1, 21))
print(lst)
### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.
print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) // 2]}")
print(f"Last element: {lst[-1]}")
### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.
print(f"First five elements: {lst[:5]}")
print(f"Last five elements: {lst[-5:]}")
print(f"Elements from index 5 to 15: {lst[5:16]}")
### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
squares = [x**2 for x in range(1, 11)]
print(squares)
### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.
evens = [x for x in lst if x % 2 == 0]
print(evens)
### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")
### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")
### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)
### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)
### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.
lst = list(range(1, 11))
print(f"Original list: {lst}")
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(f"Modified list: {lst}")
### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)
### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")
### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")
### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.
def list_intersection(lst1, lst2):
    return [x for x in lst1 if x in lst2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list_intersection(list1, list2)
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Intersection: {intersection}")

SyntaxError: invalid decimal literal (ipython-input-2065347577.py, line 48)

In [ ]:
# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.
tpl = tuple(range(1, 11))
print(tpl)
### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.
print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl) // 2]}")
print(f"Last element: {tpl[-1]}")
### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(f"First three elements: {tpl[:3]}")
print(f"Last three elements: {tpl[-3:]}")
print(f"Elements from index 2 to 5: {tpl[2:6]}")
### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")
### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated = tpl1 + tpl2
print(concatenated)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)
### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)
### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)
### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)
### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)
### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)
### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)
### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)
### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

SyntaxError: invalid decimal literal (ipython-input-2949753190.py, line 22)

## **Dictionary**

Dictionary are unordered collection of items.
They store data in key value pairs.
Key must be unique and immutable(e.g. strings,numbers or tuples), while values can be of any type.

In [ ]:
## creating Dictionaries
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict = dict()
print(empty_dict)

{}

In [ ]:
student = {"Name":"Yash","age":21,"grade":24}
print(student)
print(type(student))

{'Name': 'Yash', 'age': 21, 'grade': 24}
<class 'dict'>

In [ ]:
 # Single key is always usede
student = {"Name":"Yash","age":21,"Name":24}
print(student)

{'Name': 24, 'age': 21}

In [ ]:
## accessing the dictionary elements
student = {"Name":"Yash","age":21,"grade":'A'}
print(student['Name'])
print(student['age'])
print(student['grade'])
## print(student['last_name']) ## gives key error

Yash
21
A

In [ ]:
## Accessing using get method
print(student.get('grade'))
print(student.get('last_name')) ## if the key is not available -> output->none
print(student.get('last_name',"Not Available"))
## if the key value is not present it will give the default value->Not Available

A
None
Not Available

In [ ]:
## Modifying Dictionary elements
## Dictionary are mutable so you can add update and delete elements
print(student)

{'Name': 'Yash', 'age': 21, 'grade': 'A'}

In [ ]:
student["age"]=33 ## update value for the key
print(student)

student["address"]="India" ## add a new key
print(student)

del student["grade"] ## delete key and value pair
print(student)

{'Name': 'Yash', 'age': 33, 'grade': 'A'}
{'Name': 'Yash', 'age': 33, 'grade': 'A', 'address': 'India'}
{'Name': 'Yash', 'age': 33, 'address': 'India'}

In [ ]:
## Dictionary methods
keys = student.keys()  ## get all the keys
print(keys)

values = student.values()  ## get all the values
print(values)

items = student.items()  ## get all the key value pairs
print(items)

dict_keys(['Name', 'age', 'address'])
dict_values(['Yash', 33, 'India'])
dict_items([('Name', 'Yash'), ('age', 33), ('address', 'India')])

In [ ]:
## shallow copy
student

{'Name': 'Yash', 'age': 33, 'address': 'India'}

In [ ]:
student_copy = student
print(student)
print(student_copy)

{'Name': 'Yash', 'age': 33, 'address': 'India'}
{'Name': 'Yash', 'age': 33, 'address': 'India'}

In [ ]:
student["Name"] = "Yash1"
print(student)
print(student_copy)

{'Name': 'Yash1', 'age': 33, 'address': 'India'}
{'Name': 'Yash1', 'age': 33, 'address': 'India'}

In [ ]:
## shallow copy -> It will allocate the different memory it will take this variable and gives the reference of this variable to an another memory
## It provides the different memory location so that when we change the one of the variable donot impact the other one.
student_copy = student.copy()
print(student)
print(student_copy)

{'Name': 'Yash1', 'age': 33, 'address': 'India'}
{'Name': 'Yash1', 'age': 33, 'address': 'India'}

In [ ]:
student["Name"] = "Yash2"
print(student)
print(student_copy)

{'Name': 'Yash2', 'age': 33, 'address': 'India'}
{'Name': 'Yash1', 'age': 33, 'address': 'India'}

In [ ]:
 ### Iterating over Dictionaries
 ## You can use loops to iterate over dictionaries,keys,values or item(key value pairs)

 # iterating over keys
for keys in student.keys():
  print(keys)

Name
age
address

In [ ]:
# iterating over values
for values in student.values():
  print(values)

Yash2
33
India

In [ ]:
# iterating over key-value pairs
for key,value in student.items():
    print(f"{key}:{value}")

Name:Yash2
age:33
address:India

In [ ]:
## Nested Dictionary
student = {
    "student1":{"name":"Yash","age":21},
    "student2":{"name":"Yuvraj","age":22}
}
print(student)

{'student1': {'name': 'Yash', 'age': 21}, 'student2': {'name': 'Yuvraj', 'age': 22}}

In [ ]:
## Accessing dictionary elements
print(student["student2"]["name"])
print(student["student2"]["age"])

Yuvraj
22

In [ ]:
## Iterating over nested dictionaries
for student_id,student_info in student.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'Yash', 'age': 21}
name:Yash
age:21
student2:{'name': 'Yuvraj', 'age': 22}
name:Yuvraj
age:22

In [ ]:
## Dictionary Comprehension
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
## Conditional dictionary comprehension
even_squares = {x:x**2 for x in range(10) if x%2 == 0}
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
## Practical Examples
## Use a dictionary to count the frequency of elements in list
numbers = [1,2,3,2,4,2,4,4,4,4]
frequency = {}
for number in numbers:
  if number in frequency:
    frequency[number]+=1
  else:
    frequency[number]=1
print(frequency)

{1: 1, 2: 3, 3: 1, 4: 5}

In [ ]:
## Merge two dictionary into one

dict1={"a":1,"b":2}
dict2={'c':3,"d":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## **Functions**

Functions is a block of code that performs a specific task.
Functions hels in organizing code, resusing code and improves readability.

In [ ]:
## Syntax
def function_name(parameters):
  """Docstring"""
  ## Function body
  return expression

In [ ]:
## why do we require function?
num = 24
if num%2==0:
  print("The num is even")
else:
  print("The num is odd")

The num is even

In [ ]:
## To use that block of code in multiple time we create a function so that we can call it wherever needed

def even_or_odd(num):
  """This function finds even or odd"""
  num = 24
if num%2==0:
  print("The num is even")
else:
  print("The num is odd")

The num is even

In [ ]:
## Call this function
even_or_odd(24)

In [ ]:
## Function with Multiple parameters

def add(a,b):
  return a+b

result = add(2,4)
print(result)

6

In [ ]:
## Default parameters

def greet(name):
  print(f"Hello {name} Welcome to the paradise")

greet("Yash")

Hello Yash Welcome to the paradise

In [ ]:
def greet(name="Guest"):  ## default parameter
  print(f"Hello {name} Welcome to the paradise")

greet()

Hello Guest Welcome to the paradise

In [ ]:
def greet(name="Guest"):
  print(f"Hello {name} Welcome to the paradise")

greet("Yash") ## now it will take yash as parameter

Hello Yash Welcome to the paradise

In [ ]:
### Variable length arguments
## Positional and Keywords Argument

## Positional Argument

def print_numbers(*args):
  for number in args:
    print(number)

print_numbers(1,2,3,4,5,6,"Yash")

1
2
3
4
5
6
Yash

In [ ]:
### Keyword argument
## In Keyword argument all the parameters will be in key value pair format

def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [ ]:
print_details(name="Yash",Age="21",Grade="A")

name:Yash
Age:21
Grade:A

In [ ]:
## Combination of positional and keyword argument

def print_details(*args,**kwargs):
  for val in args:
    print(f"Positional Argument:{val}")

  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [ ]:
print_details(1,2,3,4,5,"Yash",name="Yash",Age="21",Grade="A")

Positional Argument:1
Positional Argument:2
Positional Argument:3
Positional Argument:4
Positional Argument:5
Positional Argument:Yash
name:Yash
Age:21
Grade:A

In [ ]:
### return statement
def multiply(a,b):
  return a*b

result = multiply(3,4)
print(result)

12

In [ ]:
### return multiple parameters
def multiply(a,b):
  return a*b,a

result = multiply(3,4)
print(result)

(12, 3)

## **Function Examples**

In [ ]:
## Temperature Conversion

def temp_conversion(temp,unit):
  if unit == 'C':  ## Celcius to Farenheit
    return temp* 9/5 + 32
  elif unit == 'F':  ## Farenheit to Celsius
    return (temp-32)*5/9

print(temp_conversion(77,'F'))
print(temp_conversion(25,'C'))

25.0
77.0

In [ ]:
## Password Strength Checker
def is_strong_password(password):
  """Checks whether the password is string or not"""
  if len(password)<8:
    return False
  if not any(char.isdigit() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char in '!@#$%&*()_+' for char in password):
    return False
  return True
## Calling Function
print(is_strong_password("12345678"))
print(is_strong_password("1234Yash"))
print(is_strong_password("Yash@567"))

False
False
True

In [ ]:
##3 Calculate the total cost of item in Shopping cart
def calculate_total_cost(cart):
  total_cost = 0
  for item in cart:
    total_cost+=item['price']*item['quantity']
  return total_cost

## Example
cart = [
    {'name': 'Apple', 'price': 0.5, 'quantity': 4},
    {'name': 'Banana', 'price': 0.3, 'quantity': 6},
    {'name': 'Orange', 'price': 0.7, 'quantity': 3}
]
total_cost = calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [ ]:
##4 Check if a string is pallindrome
def is_palindrome(s):
  s=s.lower().replace(" ","")
  return s==s[::-1]

print(is_palindrome('A man a plan a canal Panama'))
print(is_palindrome('hello'))

True
False

In [ ]:
##5 Calculate the factorial of a number
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

print(fact(5))

120

In [ ]:
##6

## **Lambda Functions**

Lambda Functions are small anonymous functions(a function without a name) defined using the lambda keyword.
They can have any number of arguments but only one expression.
they are commonly used for short operations or as arguments to highere-order functions

In [ ]:
## Syntax
lambda argument : expression

In [ ]:
def add(a,b):
  return a+b

print(add(2,3))

5

In [ ]:
## Converting to lambda
addition = lambda a,b:a+b
print(type(addition))
print(addition(2,3))

<class 'function'>
5

In [ ]:
def even(num):
  if num % 2 == 0:
    return True
print(even(24))

True

In [ ]:
## Coverting to lambda

even1 = lambda num : num%2==0
print(even1(24))

True

In [ ]:
## Multiple parameter

add = lambda x,y,z:x+y+z
print(add(2,3,5))

10

In [ ]:
## map() - applies a function to all items in the list
## map(func, *iterables) --> map object
numbers=[1,2,3,4,5]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

## **map()**

The map() function applies a given function to all itmes in an input list(or any other iterable) and return a map object(an iterator). This is particularly useful for transforming data in a list comprehensively.

In [ ]:
def square(num):
  return num**2
square(23)

529

In [ ]:
numbers = [1,2,3,4,5,6,7,8]
## map(function,iterable)
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
## Lambda function with map
numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
## Map multiple iterables

number1=[1,2,3]
number2=[4,5,6]

added_numbers = list(map(lambda x,y:x+y,number1,number2))
print(added_numbers)

[5, 7, 9]

In [ ]:
## map() to convert a list of string to integers
# use map to convert string to integers

s = ['1','2','3','4','5']
int_numbers=list(map(int,s))
print(int_numbers)

[1, 2, 3, 4, 5]

In [ ]:
words = ['apple','banana','cherry']
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
  return person['name']

people = [
    {'name':'Krish','age':21},
    {'name':'Yash','age':23}
]

list(map(get_name,people))

['Krish', 'Yash']

In [ ]:
def is_even(num):
    if num % 2 == 0:
        return True
    return False

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4, 6, 8, 10, 12]

In [ ]:
def even(num):
    if num%2==0:
        return True
num=[1,2,3,4,5,6,7,8]
list(filter(even,num))

[2, 4, 6, 8]

In [ ]:
lst=[1,2,3,4,5,6]
list(filter(lambda x:x%2==0,lst))

[2, 4, 6]

In [ ]:
lst=[1,2,3,4,5,6,7,8]
evengr8thn5 = list(filter(lambda x:x>5 and x%2==0,lst))
print(evengr8thn5)

[6, 8]

In [ ]:
people =[
    {'name':'Yash','age':23},
    {'name':'Yuvraj','age':20},
    {'name':'ash','age':21},
]

def greater_than_20(person):
  if person['age']>20:
    return person['age']


filtered_list = list((filter(greater_than_20,people)))
list(map(lambda p:p['age'],filtered_list))

[23, 21]

# Task
It looks like you encountered an error during the `git commit` command, indicating that your Git identity (user email and name) is not set.

To resolve this, please follow these steps:

1.  **Configure your Git identity**: Add and execute the following two code cells in your notebook, replacing `"you@example.com"` with your email and `"Your Name"` with your name:

    ```python
    !git config --global user.email "you@example.com"
    ```

    ```python
    !git config --global user.name "Your Name"
    ```

2.  **Re-run the commit command**: After configuring your identity, go back to the code cell containing `!git commit -m "Initial commit from Colab"` (cell ID `29ef1b0e`) and execute it again.

3.  **Verify branch and push**: Once the commit is successful, you will likely encounter an error during push due to the branch name not being found (as seen in cell ID `1ed1ce2f`).
    First, verify your local branch name by running `!git branch` (cell ID `c14e6258`). If your local branch is `master` and you want to push to `main` on GitHub, you'll need to rename your local branch to `main` using `!git branch -M main`.
    Then, re-run the `!git push -u origin main` command (cell ID `1ed1ce2f`). If your local branch was `master`, you should use `!git push -u origin master`. If you created a `main` branch locally, `!git push -u origin main` should work.

Please let me know if you encounter any further issues.

## Configure Git identity

### Subtask:
Add cells to set global Git user name and email before committing.

**Reasoning**:
The subtask requires configuring the Git user email. This step adds a code cell to set the global user email, as instructed.

In [13]:
email = "your_email@example.com" # Replace with your actual email
!git config --global user.email "{email}"
print(f"Git user email set to: {email}")

Git user email set to: your_email@example.com

**Reasoning**:
The subtask requires configuring the Git user name. This step adds a code cell to set the global user name, as instructed.

In [14]:
name = "Your Name" # Replace with your actual name
!git config --global user.name "{name}"
print(f"Git user name set to: {name}")

Git user name set to: Your Name

## Re-run commit

### Subtask:
Re-run the commit command after configuring Git identity.

After successfully setting your Git user email and name in the previous steps, please re-execute the code cell with ID `29ef1b0e` containing the `!git commit -m "Initial commit from Colab"` command. This will commit your changes with the newly configured Git identity.

## Verify branch and push

### Subtask:
Verify the local Git branch name and then push the committed changes to the remote GitHub repository.

## Summary:

### Q&A
1.  **How to configure Git identity (user email and name)?**
    The Git identity was configured by running two `!git config --global` commands. The user email was set to "your\_email@example.com" and the user name was set to "Your Name".
2.  **What to do after configuring Git identity regarding the commit command?**
    After configuring the Git identity, the user was instructed to re-execute the `!git commit -m "Initial commit from Colab"` command located in cell ID `29ef1b0e`.

### Data Analysis Key Findings
*   The Git user email was successfully configured to "your\_email@example.com".
*   The Git user name was successfully configured to "Your Name".
*   Clear instructions were provided to the user to re-run the `!git commit` command after the identity configuration.

### Insights or Next Steps
*   The next critical step is for the user to execute the `git commit` command (cell ID `29ef1b0e`) to finalize the commit with the newly configured identity.
*   After a successful commit, the process should proceed to verify the Git branch and push the changes to the remote repository, as outlined in the original task.