## Loops

### Outline

1. Introduction to Loops

2. for loop
   - Iterating over a range
   - Iterating over a string 

3. while loop

4. Loop Control Statements
   - break 
   - Continue
   - pass

5. Nested Loops

6. Practical examples and Common errors

In [ ]:
range(5) # range

range(0, 5)

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
## range(Start , stop, step parameters) 
range(1,10,2)

range(1, 10, 2)

In [7]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [ ]:
## Strings

## Traversing STRING
str = "Yash Kumawat"

for i in str:
    print(i)

Y
a
s
h

K
u
m
a
w
a
t

In [14]:
## While loop

## The while loop continues to execute as long as condition is true.

count=0

while count < 5 :
    print(count)
    count=count+1

0
1
2
3
4

In [15]:
count=0

while count%2==0:
    print(count)
    count=count+1

0

In [16]:
## Loop control Statements 

## Break
## The break statemnts exits the loop prematurely

## break statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
## Nested loops 
## Loops inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [5]:
## Examples - Calculate the sum of first N natural numbers using a for and while loop 

## using while loop
n=10
sum = 0
count = 1

while count<=n:
    sum = sum + count
    count=count+1
print("Sum of first n natural numbers :" , sum)

Sum of first n natural numbers : 55

In [7]:
# Usinf for loop 

n=10
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

In [11]:
# Prime numbers between 1 and 100

for num in range(2,101):
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97