## Tuples

1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

### Introduction of Tuples

### Explanation 

- Tuples are ordered collection of items that are immutable. They are similar to list, but their immutability makes them different.

In [4]:
### creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [7]:
lst=list()
print(type(lst))

tple=tuple()
print(type(tple))

<class 'list'>
<class 'tuple'>

In [ ]:
number=tuple([1,2,3,4,5,6])  ### List can be converted to tuple
number

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6))  ## tuple can be converted to list

[1, 2, 3, 4, 5, 6]

In [10]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [12]:
## Accessing tuple elements

number

(1, 2, 3, 4, 5, 6)

In [15]:
number[0]
number[1]
number[-1]

6

In [ ]:
### Indexing and slicing will be similar to list

In [18]:
number[0:4]

(1, 2, 3, 4)

In [19]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [22]:
## Tuple Operations

concatenation_tuple = number + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [23]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [24]:
number * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [25]:
## Immutable nature of tuples
## Tuples are immutable,meaaning their elemnts cannot be changed once assigned

number[1]="Yash"

TypeError: 'tuple' object does not support item assignment

In [ ]:
##V First convert the tuple to list then change the element then finally convert the list to tuple

In [27]:
number

(1, 2, 3, 4, 5, 6)

In [29]:
## Tuple Methods
print(number.count(2))
print(number.index(3))

1
2

In [30]:
## Packing and Unpacking tuples

## Packing
packed_tuple= 1, 3.14, "Hello"
print(packed_tuple)

(1, 3.14, 'Hello')

In [31]:
## Unpacking a tuple

a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
3.14
Hello

In [32]:
## Unpacking with *
number=(1,2,3,4,5,6)
first,*middle,last=number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested Tuple
## Tuple inside a tuple is caledd....

lst=[[1,2,3],[3,3,4,5],[9,6,7,1]]
lst[0][2]

3

In [35]:
lst[0][0:3]

[1, 2, 3]

In [36]:
lst=[[1,2,3],[3,3,4,5],[9,6,7,1],(1,3.14,"Hello")]
lst[3][0:3]

(1, 3.14, 'Hello')

In [39]:
nested_tuple= ((1,2,3), ("a","b","c"),(True,False))

## Access the element inside the tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [43]:
## Iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

### Conclusion 
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.